.completado {
    text-decoration: line-through;
}

/*Transition*/
.aparecer-enter { /*Entradas a la hora de clickar*/
    opacity: 0;
}
.aparecer-enter-active {
    transition: opacity 1s;
}

.aparecer-leave-to { /*Salidas a la hora de clickar*/
    opacity: 0;
}

.aparecer-leave-active {
    transition: opacity 1s;
}

/*Animation*/
.bote-enter-active {
    animation: bounce-in .5s;
  }
  .bote-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }